.sideMenuWrap {
    flex-basis: 20%;
    text-align: left;
}

.sideMenuWrap img {
    width: 100%;
}

.userName {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}